extends layout

block content
  - var timestampToTime = function(timeStamp) {
  -   var date = new Date(timeStamp);
  -   var hours = date.getHours() + 2;
  -   var minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
  -   var days = ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"]
  -   var day = date.getDay();
  -   return days[day] + " " + hours + ':' + minutes;
  - }

  .container-fluid
    #messageContainer.col-md-6(style="padding-right: 10px; padding-left: 0;")

      #chat.panel-collapse.collapse.in
        div
          #messageDiv.portlet-body.chat-widget(style='overflow-y: auto; overflow-x: hidden; width: auto; height: 600px;')


    .col-md-6(style="padding-left: 10px; padding-right: 0;")
      ul.nav.nav-tabs
        li#infoCenterToggle
          a(data-toggle="tab" href="#infoCenter")#currentTimeValue
        li.active#systemToggle
          a(data-toggle="tab" href="#system") System
        li#musicToggle
          a(data-toggle="tab" href="#music") Music
        li#ledControlToggle
          a(data-toggle="tab" href="#ledControl") LED

      .tab-content
        #system.tab-pane.active
          h2(style="margin-top: 0;") CPU
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization1.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: "+core_utilization[1]+"%;")
                #core_utilization1Text.progressBarText #{core_utilization[1]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization2.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[2] + "%;")
                #core_utilization2Text.progressBarText #{core_utilization[2]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization3.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[3] + "%;")
                #core_utilization3Text.progressBarText #{core_utilization[3]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization4.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[4] + "%;")
                #core_utilization4Text.progressBarText #{core_utilization[4]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization5.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[5] + "%;")
                #core_utilization5Text.progressBarText #{core_utilization[5]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization6.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[6] + "%;")
                #core_utilization6Text.progressBarText #{core_utilization[6]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization7.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[7] + "%;")
                #core_utilization7Text.progressBarText #{core_utilization[7]}
          .col-md-1
            .wideVerticalBar.progress.progress-bar-vertical
              #core_utilization8.progress-bar.progress-bar-success(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + core_utilization[8] + "%;")
                #core_utilization8Text.progressBarText #{core_utilization[8]}
          .col-md-4.cpu_info
            p(style='white-space:pre;')
              #cpu_utilization #{cpu_utilization}%
              #cpu_temperature #{cpu_temperature}°C
              #cpu_clock #{cpu_clock}MHz
          .col-md-12
            .darkBar.progress.center-block
              #memory_utilization.progress-bar.progress-bar(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: " + memory_utilization + "%;")
                #memory_utilizationText.progressBarText #{memory_used}MB
          .col-md-12
            h2#fps GPU
            .col-md-6(style="padding-left: 0;")
              .col-md-4(style="padding-left: 0;")
                .wideVerticalBar.progress.progress-bar-vertical
                  #gpu_utilization1.progress-bar.progress-bar-danger(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + gpu_utilization[1] + "%;")
                    #gpu_utilization1Text.progressBarText #{gpu_utilization[1]}%
              .col-md-8.cpu_info
                p(style='white-space:pre;')
                #gpu_temperature1 #{gpu_temperature[1]}°C
                #gpu_fanUtilization1 #{gpu_fanUtilization[1]}% Fan
                #gpu_clock1 #{gpu_clock[1]}MHz
            .col-md-6(style="padding-left: 0;")
              .col-md-4(style="padding-left: 0;")
                .wideVerticalBar.progress.progress-bar-vertical
                  #gpu_utilization2.progress-bar.progress-bar-danger(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: " + gpu_utilization[2] + "%;")
                    #gpu_utilization2Text.progressBarText #{gpu_utilization[2]}%
              .col-md-8.cpu_info
                p(style='white-space:pre;')
                #gpu_temperature2 #{gpu_temperature[2]}°C
                #gpu_fanUtilization2 #{gpu_fanUtilization[2]}% Fan
                #gpu_clock2 #{gpu_clock[2]}MHz
            .col-md-12
              .darkBar.progress.center-block
                #gpu_memoryUtilization.progress-bar.progress-bar(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: " + gpu_memoryUtilization + "%;")
                  #gpu_memoryUsed.progressBarText #{gpu_memoryUsed}MB
          .col-md-12
            h2 NET
            .col-md-6
              .darkBar.progress.center-block(style="margin-bottom: 5px;")
                #nic2_downloadRate.progress-bar.progress-bar-warning(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: " + nic2_downloadUtilization + "%;")
              #nic2_downloadRateText.progressBarText #{nic2_downloadRate}K
            .col-md-6
              .darkBar.progress.center-block(style="margin-bottom: 5px;")
                #nic2_uploadRate.progress-bar.progress-bar-warning(role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: " + nic2_uploadUtilization + "%;")
              #nic2_uploadRateText.progressBarText #{nic2_uploadRate}K

        #music.tab-pane
          br
          //-.col-md-6
            //-a#speakerButton.btn.btn-primary.btn-lg(style="width: 100%;") Speaker
          //-.col-md-6
            //-a#headsetButton.btn.btn-primary.btn-lg(style="width: 100%;") Headset
          .col-md-8
            h2#spotifyTitle
            h3#spotifyArtist
            h4#spotifyAlbum
          .col-md-4
            img(src="")#spotifyAlbumArt
          .col-md-12(style="margin-top: 20px;")
            span.progress-label#spotifyPlayingPositionTime
            span.pull-right#spotifyPlayingPositionTimeTotal
            .progress
              .progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%")#spotifyPlayingPositionProgressbar
          .col-md-2
            a(role="button" style="border-radius: 90px;").btn.btn-primary#spotifyPreviousButton
              span.glyphicon.glyphicon-backward(aria-hidden="true")
          .col-md-2
            a(role="button" style="border-radius: 90px;").btn.btn-primary#spotifyPlayPauseButton
              span.glyphicon.glyphicon-play(aria-hidden="true")
          .col-md-2
            a(role="button" style="border-radius: 90px;").btn.btn-primary#spotifyNextButton
              span.glyphicon.glyphicon-forward(aria-hidden="true")
          .col-md-4
            .slider.slider-horizontal#spotifyVolumeSlider
          .col-md-2

          .col-md-4
            a(role="button" style="border-radius: 90px;").btn.btn-primary#spotifyAddMyMusicButton
              span.glyphicon.glyphicon-play(aria-hidden="true")
        #infoCenter.tab-pane
          br
          .col-md-5
            .pull-right
              canvas#currentWeatherIcon(width="128", height="128")
          .col-md-7
            #currentWeatherTemperature
            #currentWeatherSummary
            #currentWeatherPrecip
            #currentWeatherWind
          br
          .col-md-12
            .ct-chart#hourlyWeatherRainAmountGraph
            .ct-chart#hourlyWeatherRainGraph
            .ct-chart#hourlyWeatherTempGraph

        #ledControl.tab-pane
          br
          .col-md-1
            a#ledPurpleButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: purple;")
          .col-md-1
            a#ledBlueButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: blue;")
          .col-md-1
            a#ledDeepSkyBlueButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: deepskyblue;")
          .col-md-1
            a#ledGreenButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: green;")
          .col-md-1
            a#ledYellowButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: yellow;")
          .col-md-1
            a#ledWhiteButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: white;")
          .col-md-1
            a#ledOrangeButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: orange;")
          .col-md-1
            a#ledRedButton.btn.btn-lg(style="width: 100%; width: 60px; height: 60px; background-color: red;")
          .col-md-4
            a#ledOffButton.btn.btn-primary.btn-lg(style="width: 100%;") LED Off

          .col-md-12
            .slider.slider-horizontal#ledRGBSliderR
          .col-md-12
            .slider.slider-horizontal#ledRGBSliderG
          .col-md-12
            .slider.slider-horizontal#ledRGBSliderB